# -*- coding: utf-8; mode: text; -*-
# Text
*           text=auto

# LF
*.sh        text eol=lf

# CRLF
*.bat       text eol=crlf
*.cmd       text eol=crlf

# ML
*.dtd       text
*.json      text
*.xhtml     text
*.xml       text
*.yml       text
*.yaml      text

# TeX
*.aux       text
*.cls       text
*.ind       text
*.inx       text
*.sty       text
*.tex       text
*.toc       text

# Office suites
*.docx      -text -diff
*.pptx      -text -diff
*.xlsx      -text -diff
*.odg       -text -diff
*.odp       -text -diff
*.ods       -text -diff
*.odt       -text -diff

# Bin
[a-z].out   -text -diff
*.[ot]tf    -text -diff
*.7z        -text -diff
*.bmp       -text -diff
*.class     -text -diff
*.dvi       -text -diff
*.gif       -text -diff
*.gpg       -text -diff
*.gz        -text -diff
*.jpg       -text -diff
*.jpeg      -text -diff
*.o         -text -diff
*.pdf       -text -diff
*.png       -text -diff
*.so        -text -diff
*.tar       -text -diff
*.xcf       -text -diff
*.zip       -text -diff
